@charset "UTF-8";

@-ms-viewport { width: device-width; }

/*
Dependencies
========================================================================== */

@import "partials/base/mixins";
@import "resetv2";
@import "partials/all";

/*
Base Style
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|PT+Sans:400,700');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

@include mq($screen-sm) {
	*:focus { outline: none !important; }
}

.fas{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.font-montserrat{
	font-family: 'Montserrat', sans-serif;
}

.font-ptsans{
	font-family: 'PT Sans', sans-serif;
}

button{
	background: transparent;
	border: none;
}

img{
	max-width: 100%;
	height: auto;
}

li{
	list-style: none;
}

html {
	@extend .font-montserrat;
	min-height: 100%;
	box-sizing: border-box;
	font: {
		size: 13px;
	}
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

img{
	max-width: 100%;
	height: auto;
}

* { box-sizing: inherit; }

strong:hover,
li:hover,
a:active,
i:hover,
div:hover,
ul:hover,
a:hover {
	outline: 0;
	transition: all .3s ease-in;
}
strong,
li,
div,
i,
a{
	text-decoration: none;
	transition: all .3s linear;
 }


.no-scroll{ overflow: hidden; }


body{
	line-height: 18px;
	font-family: 'Montserrat', sans-serif;
	color: #282828;
}

a{
	color: #282828;
}

.-container{
	width: 100%;
	max-width: 1356px;
	margin: 0 auto;
}