/*
   Breakpoints
   ========================================================================== */

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 980px;
$screen-md-min: $screen-md;
$screen-lg: 1180px;
$screen-lg-min: $screen-lg;
$screen-xs-max : 768px;
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

/*
   Grid
   ========================================================================== */

$container-max-width: 1179px;
$grid-columns: 12;
$grid-gutter-width: 14px;
$grid-float-breakpoint: $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

.container {
	width: 100%;
	margin: 0 auto;
	max-width: $container-max-width;
}
