main{
    h2{
        font-size: 36px;
    }
    .gm5-vitrine{
        margin-bottom: 80px;
    }

    .gm5Quem-somos{
        display: flex;
        padding-bottom: 90px;
        flex-direction: column;
        align-items: center;
        @include mq($screen-md) {
            flex-direction: initial;
        }
        &__imagem{
            width: 90%;
            @include mq($screen-md) {
                width: 50%;
            }
        }
        &__texto{
            width: 90%;
            @include mq($screen-md) {
                width: 50%;
            }
            padding-left: 30px;
            h2{
                margin: 60px 0 40px;
            }
            p{
                font-size: 18px;
                line-height: 25px;
                text-align: justify;
            }
        }
    }

    .gm5Chamadas-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mq($screen-md) {
            flex-direction: initial;
        }
        h2{
            margin-bottom: 70px;
        }
        .gm5Nossos-servicos{
            width: 100%;
            max-width: 1000px;
            ul{
                display: flex;
                flex-direction: column;
                @include mq($screen-md) {
                    flex-direction: initial;
                }
                li{
                    width: 100%;
                    margin-right: 30px;
                    text-align: center;
                    margin-bottom: 40px;
                    @include mq($screen-md) {
                        width: 290px;
                        text-align: left;
                    }
                    h3{
                        font-size: 24px;
                        text-transform: uppercase;
                        margin: 40px 0 15px;
                    }
                    img{
                        width: 90%;
                    }
                    strong{
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 15px;
                        display: inline-block;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 200;
                        line-height: 22px;
                    }
                }
            }
        }
        .gm5Links{
            width: 100%;
            max-width: 309px;
            margin-top: 70px;
            @include mq($screen-md) {
                margin-top: 0;
            }
            ul{
                li{
                    display: flex;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    border-bottom: 2px solid #939393;
                    align-items: baseline;
                    span{
                        font-size: 36px;
                        color: #0199b0;
                        font-weight: 500;
                    }
                    a{
                        font-size: 18px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

}