.gm5Footer{
    border-top: 5px solid #0199b0;
    padding-top: 30px;
    margin-top: 100px;
    &__content{
        display: flex;
        font-size: 18px;
        font-weight: bold;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include mq($screen-md) {
            justify-content: space-between;
            flex-direction: initial;
            text-align: left;
        }
        &__links{
            ul{
                li{
                    a{
                        display: inline-block;
                        margin-bottom: 20px;
                        &:hover{
                            color: #592f83;
                        }
                    }
                }
            }
        }
        &__dados{
            line-height: 35px;
            span{
                color: #592f83;
            }
            &__box{
                a{
                    display: block;
                }
            }
        }
        &__redesSocias{
            span{
                color: #592f83;
            }
            ul{
                display: flex;
                margin: 25px 0;
                justify-content: center;
                @include mq($screen-md) {
                    justify-content: left;
                }
                li{
                    margin-right: 15px;
                    i{
                        font-size: 28px;
                    }
                }
            }
            p{
                font-size: 14px;
            }
        }
    }
}
