.gm5Header{
    margin-bottom: 45px;
    &__content{
        display: flex;
        justify-content: space-between;
        @include mq($screen-md) {
            padding-top: 50px;
        }
        h1{
            span{
                display: none;
            }
        }
        nav{
            display: none;
            @include mq($screen-md) {
                display: block;
            }
            ul{
                display: flex;
                margin-top: 20px;
                li{
                    margin-right: 30px;
                    a{
                        color: #363636;
                        font-size: 18px;
                        font-weight: bold;
                        &:hover{
                            color: #67c2d0;
                        }
                    }
                }
            }
        }
    }
}